@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Bebas+Neue&family=Gloock&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #3F0C22;
    flex-direction:row;
    gap: 10px;
    font-family: 'Gloock', serif;
    text-transform: uppercase;
    align-items: center;
}

.menu{
    display: flex;
    gap: 20px;
}

.item-navbar{
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

.imagem_logo{
    height: 60px;
}

#conteudo-principal{
    background-image: url(/images/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align:left;
}

.caixa-central{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 700px;
    height: 500px;
    background-color: #3F0C22;
    border-radius: 5%;
    row-gap: 40px;
    margin: 10px;
    padding: 10px;
    opacity: 90%;
}

.menu :hover{
    opacity: 80%;
}

.caixa-itens{
    display: flex;
    flex-direction: column;
    align-items:center;
    row-gap: 40px;
    opacity: none;
}

.titulo-principal{
    color: white;
    font-size: 30px;
    font-family: 'Antonio', sans-serif;
    letter-spacing: 1px;
    padding-top: 40px;
}

.botao-precos{
    background-color: #12041D;
    color: white;
    width: 220px;
    height: 60px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    border: 0;
    box-shadow: 1px 1px 5px 1px black;
    cursor: pointer;
    padding: 10px;
}

.botao-precos:hover{
    background-color: #290943;
    cursor: pointer;
    transition: .5s;
}

.rodape{
    display: flex;
    font-family: 'Antonio', sans-serif;
    background-color:#3F0C22;
    color: white;
    height: 60px;
    font-size: 13px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}