@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Bebas+Neue&family=Gloock&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-image: url(background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #3F0C22;
    flex-direction:row;
    gap: 10px;
    font-family: 'Gloock', serif;
    text-transform: uppercase;
    align-items: center;
}

.menu{
    display: flex;
    gap: 20px;
}

.dropdown{
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter:blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition:0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.menu :hover{
    opacity: 80%;
}

.item-navbar{
    color:white;
    font-size: 1em;
    letter-spacing: 1px;
}

.dropdown_menu li{
    list-style-type:none;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-navbar-d{
    color:white;
    font-size: 18px;
    letter-spacing: 1px;
}

.imagem_logo{
    height: 60px;
}

#conteudo-principal{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align:left;
}

.texto-principal{
    padding-left: 200px;
}

.titulo-principal{
    color: white;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    padding-bottom: 20px;
}

.botao-principal{
    background-color: #12041D;
    color: white;
    width: 220px;
    height: 60px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 25px;
    border: 0;
    box-shadow: 1px 1px 5px 1px black;
}

.botao-principal:hover{
    background-color: #290943;
    cursor: pointer;
    transition: .5s;
}

.rodape{
    display: flex;
    font-family: 'Antonio', sans-serif;
    background-color:#3F0C22;
    color: white;
    height: 60px;
    font-size: 13px;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
}

@media (max-width:992px) {
    .navbar .menu
    {
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .navbar .dropdown{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}